html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Specific styling for library cards (with images in header) */
/* BEM = block__element--modifier (CSS methodology or naming convention) */
.card--library {
    padding: 0;
}

.card--library .card-img-top {
    width: 100%;
    height: 120px;
    object-fit: cover;  /* Resize the image to cover the area without stretching */
}


/* Manage books */

.manage-books-table td {
    vertical-align: middle;
}

.manage-books-table .book-image-thumbnail {
    max-height: 50px;
    width: auto;
}


/* Override Quill JS styling */

body :is(.ql-editor p, .ql-editor ol, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6) {
    margin-bottom: 1rem;
}