html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Specific styling for library cards (with images in header) */
/* BEM = block__element--modifier (CSS methodology or naming convention) */
.card--library {
    padding: 0;
}

.card--library .card-img-top {
    width: 100%;
    height: 120px;
    object-fit: cover;  /* Resize the image to cover the area without stretching */
}


/* Book card, e.g. Books/ViewAll */

.book-card {}

/* Set a fixed height on the image container (constrain images) */
.book-card__image-container {
    height: 200px;
    text-align: center;
}

/* Don't let the image grow outside of its container */
.book-card__image-container img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
    height: auto;
}

.book-card__title {
    font-size: 1.3em;
    margin-top: 0.8em;
}

.book-card__description {
    height: 250px;
    overflow-y: auto;
}

.book-card__more-info {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
    text-align: center;
}


/* Manage books */
.manage-books-table td {
    vertical-align: middle;
}

.manage-books-table .book-image-thumbnail {
    max-height: 50px;
    width: auto;
}


/* Book search */
.book-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0;
}

.book-search-form .btn > i {
    margin-right: 0.2em;
}


/* Override Quill JS styling */
body :is(.ql-editor p, .ql-editor ol, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6) {
    margin-bottom: 1rem;
}


/* Available/unavailable status in tables */

.status-available {
    color: #18bd2e;
}
.status-unavailable {
    color: #dc3b45;
}

/*.status-available::before, .status-unavailable::before {*/
:is(.status-available, .status-unavailable)::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-size: 1.3em;
    line-height: 1;
    vertical-align: middle;
}

.status-available::before {
    content: '\F26A';
}

.status-unavailable::before {
    content: '\F622';
}