@model DreamTimeS224.Models.Genre

@{
    ViewData["Title"] = "Delete genre";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>Are you sure you want to delete the &ldquo;<strong>@Html.DisplayFor(g => g.Name)</strong>&rdquo; genre?</p>

<div>
    <form asp-action="Delete">
        <span asp-validation-for="Id" class="text-danger d-block mb-2"></span>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
