@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DreamTime Libraries! 📚</h1>
    
    <p>Welcome to DreamTime libraries, where reading is the coolest! We're here for all of your book and meeting room needs.</p>

    <div class="row justify-content-center gap-3">
        <article class="col-4 card card--library">
            <img class="card-img-top" src="~/images/sydney.jpg" alt="DreamTime Sydney library location" />
            <section class="card-body">
                <h2>Sydney Library</h2>
                <p>Our Sydney DreamTime library is really, really, really good. Please visit.</p>
                <a href="#">Find out more</a>
            </section>
        </article>
        <article class="col-4 card card--library">
            <img class="card-img-top" src="~/images/wollongong.jpg" alt="DreamTime Wollongong library location" />
            <section class="card-body">
                <h2>Wollongong Library</h2>
                <p>Our Wollongong DreamTime library is not so good. Please visit anyway.</p>
                <a href="#">Find out more</a>
            </section>
        </article>
    </div>

</div>
