@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DreamTime Libraries! 📚</h1>
    
    <p>Welcome to DreamTime libraries, where reading is the coolest! We're here for all of your book and meeting room needs.</p>

</div>
