@model DreamTimeS224.Models.Book

<article class="book-card card p-0 col-6 col-md-4 col-lg-3">
    <header class="card-header">
        <div class="book-card__image-container">
            <partial name="_BookImagePartial" model="Model" />
        </div>
        <h2 class="book-card__title">@Model.Title</h2>
    </header>
    <section class="card-body">
        <div class="book-card__description">
            @Html.DisplayFor(_ => Model.Description)
        </div>
        <div class="book-card__more-info">
            <a href="#" class="btn btn-primary">More info</a>
        </div>
    </section>
    <footer class="card-footer">
        <p>Author: @Model.Author</p>
    </footer>
</article>